html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background: #000;
  color: #fff;
}

h1 {
  background: url("./mighty-black.jpg") left center no-repeat;
  font-size: 125px;
  font-weight: 200;
  margin: 0 auto;
  padding: 20px 0 20px 136px;
  text-align: left;
  width: 625px;
}

section {
  margin: 0 auto;
  text-align: left;
  width: 700px;
}


article {
  background: #eee;
  margin: 20px 0;
  padding: 0;
}

article:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

h2 {
  background: #000;
  color: #FFF;
  font-weight: 200;
  font-size: 40px;
  margin: 0 0 10px 0;
  padding: 10px 20px;
}

h3 em,
li em {
  display: inline-block;
  font-style: normal;
  margin: 0 3px 0 0;
  text-align: right;
  text-transform: uppercase;
  width: 150px;
}

h3 {
  font-size: 30px;
  line-height: 34px;
  margin: 0;
  padding: 0 20px 0;
}

h3 em {
  font-size: 18px;
  line-height: 34px;
}

h4 {
	margin: 0;
	padding: 10px 20px 20px;
}

p {
	margin: 0;
	padding: 0 20px 20px 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0 20px 0;
}

li {
  font-size: 18px;
  line-height: 20px;
  margin: 5px 0;
  padding: 0;
}

li em {
  font-size: 12px;
  line-height: 20px;
}

img {
  float: right;
  margin: 0 0 0 20px;
  width: 250px;
}

@media screen and (max-width: 480px) {


  header {
    background: #FFF;
  }

  h1 {
    background: url("./mighty-white.jpg") center center no-repeat;
    padding: 35px 0;
    text-indent: -10000px;
    width: 480px;
    height: 289px;
  }
  
  section {
    width: 480px;
  }

  article {
    margin: 0;
    padding: 0 0 20px 0;
  }

  h3 {
    font-size: 50px;
    line-height: 54px;
    margin: 0;
    padding: 0 20px 0;
  }

  h3 em {
    font-size: 18px;
    line-height: 34px;
  }

  h3 em {
    display: block;
    text-align: left;
    width: auto;
  }

  p {
    padding: 0 20px 20px 20px;
  }

  ul {
    clear: both;
    padding: 10px 20px 10px;
  }

  img {
    width: 200px;
  }
  

}
@media screen and (max-width: 320px) {


  h1 {
    width: 320px;
  }



  section {
    width: 320px;
  }


  h2 {
    padding: 10px 20px;
  }

  .thors h2 {
    height: 145px;
  }

  h3 em,
  li em {
    width: 120px;
  }

  h3 {
    font-size: 22px;
    line-height: 26px;
  }

  h3 em {
    display: inline-block;
    font-size: 14px;
    line-height: 26px;
    text-align: right;
  }


  ul {
    padding: 0 20px 10px;
  }

  li em {
    font-size: 10px;
    line-height: 20px;
  }

  img {
    background: #000;
    height: 165px;
    width: auto;
  }
}