html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background: #000;
  color: #fff;
}

h1 {
  font-size: 143px;
  font-weight: 200;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  width: 700px;
}

section {
  margin: 0 auto;
  text-align: left;
  width: 700px;
}


article {
  background: #eee;
  margin: 20px 0;
  padding: 0;
}

article:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

h2 {
  background: #000;
  color: #FFF;
  font-weight: 200;
  font-size: 40px;
  margin: 0 0 10px 0;
  padding: 10px 20px;
}

h3 em,
li em {
  display: inline-block;
  font-style: normal;
  margin: 0 3px 0 0;
  text-align: right;
  text-transform: uppercase;
  width: 150px;
}

h3 {
  font-size: 30px;
  line-height: 34px;
  margin: 0;
  padding: 0 20px 0;
}

h3 em {
  font-size: 18px;
  line-height: 34px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0 20px 0;
}

li {
  font-size: 18px;
  line-height: 20px;
  margin: 5px 0;
  padding: 0;
}

li em {
  font-size: 12px;
  line-height: 20px;
}

img {
  float: right;
  margin: 0 0 0 20px;
  width: 250px;
}

@media screen and (max-width: 480px) {

}
@media screen and (max-width: 320px) {
  h1 {
    font-size: 56px;
    padding: 20px 0;
    width: 280px;
  }

  section {
    width: 320px;
  }

  h2 {
    height: 145px;
    padding: 10px 20px;
  }

  h3 em,
  li em {
    width: 120px;
  }

  h3 {
    font-size: 22px;
    line-height: 26px;
  }

  h3 em {
    font-size: 14px;
    line-height: 26px;
  }

  ul {
    padding: 0 20px 10px;
  }

  li em {
    font-size: 10px;
    line-height: 20px;
  }

  img {
    background: #000;
    height: 165px;
    width: auto;
  }
}